@using JCMovies.Models
@model JCMovies.Models.Customer
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>
This is customer @Model.name with ID: @Model.id

<p>Membership Type: @Model.MembershipType.name</p>

@if (Model.DateOfBirth != null)
{
    <p>Customer birthdate is @Model.DateOfBirth</p>
}
